.content {
    grid-area: c;
    background-color: lightblue;
}

.content-img {
    background-image: url("https://store-images.s-microsoft.com/image/apps.3027.13567623013775892.3f14351e-b582-4c90-a061-5d147c58fd37.2bbb38e6-5d98-44d7-8f5b-3e5a64272e15?mode=scale&q=90&h=1080&w=1920");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -200px;
}

.content-description {
    padding: 10px;
}

.content-posts {
    padding: 10px;
}