.nav {
  grid-area: nav;
  font-size: 25px;
  text-align-last: left;
}

.list {
  list-style-type: none;
  text-align: left;
}

.list li {
  margin-bottom: 10px;
}

.item:hover {
  color: blue;
  transition: color 0.2s ease-in;
}

.active {
  color: black;
  transition: all 0.2s ease-in;
}